@import url(./settings.css);

body {
    overflow: hidden;
    display: flex;
}

main {
    width: 75vw;
    height: 100%;
    background-color: var(--main-darken-color-theme);
}

aside {
    color: white;
    width: 35vw;
    height: 100vh;
    padding: 4px;
    background-color: var(--main-darken-color-theme);
    box-shadow: 4px 0px 5px 2px var(--main-lighten-color-theme);
    border-right: 1px solid rgb(255, 255, 255, 0.2);
}

input, textarea {
    color: white;
    background-color: var(--third-color-theme);
    border: 2px solid var(--main-color-theme);
    padding: 5px 7px;
    border-radius: .4rem;
}

svg {
    border-radius: .4rem;
    transition: 400ms ease;
    width: 6%;
}

svg:hover {
    cursor: pointer;
    color: var(--second-color-theme);
}

svg:active { transform: scale(1.1); }

.selection {
    padding: 0;
    list-style: none;
    z-index: 3;
    border: 2px solid rgb(255, 255, 255, 0.6);
    position: absolute;
    text-align: center;
    background-color: var(--third-color-theme);
    border-radius: .2rem;
}

li {
    transition: 200ms ease;
    padding: 10px;
}

li:hover {
    background-color: var(--third-lighten-color-theme);
    cursor: pointer;
}

.selected { background-color: var(--main-color-theme); }

.hidden { display: none; }

.scrollable {
    overflow-y: auto;
    overflow-x: hidden;
}

#info {
    position: relative;
    padding: 6px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
}

#options-view {
    top: 35%;
    left: 60%;
}

#invites-view {
    top: 35%;
    left: 10%;
}

#search {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    align-items: center;
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
}

#search ul {
    top: 50%;
    left: 84.6%;
}

#search input {
    padding: 13px 10px;
    text-align: center;
    border: none;
    width: 22.1vw;
    height: 2.6vh;
}

#search div {
    display: flex;
    align-items: center;
    width: 27vw;
    padding: 0 8px;
    border-radius: .4rem;
    background-color: var(--third-color-theme);
}

#search div svg {
    display: none;
    color: var(--second-color-theme);
    transition: 300ms ease;
}

#search div svg:hover {
    cursor: pointer;
    color: white;
}

#data-view {
    height: 88%;
}

#data-view .search-user {
    text-align: center;
    background-color: var(--third-color-theme);
    padding: 10px;
    transition: 300ms ease;
    border-radius: .4rem;
}

#data-view .search-user:hover {
    cursor: pointer;
    background-color: var(--third-lighten-color-theme);
}

::-webkit-scrollbar {
    width: 3px;
    background-color: var(--third-color-theme);
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color-theme);
}

#data-view .group {
    padding: 8% 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: medium;
    margin: 5px 0;
    border-radius: .4rem;
    padding: 5px;
    background-color: var(--third-color-theme);
    border: 2px solid var(--main-darken-color-theme);
    transition: 200ms ease;
}

#data-view .group:hover {
    cursor: pointer;
    background-color: var(--main-darken-color-theme);
    border: 2px solid var(--third-color-theme);
}

#messages-view {
    height: 80.2vh;
    flex-direction: column;
}

#messages-view .message {
    position: relative;
    align-self: flex-start;
    color: white;
    min-width: 24vw;
    max-width: 35vw;
    border-radius: .4rem;
    margin: 9px;
    padding: 6px;
    background-color: var(--third-color-theme);
    border: 2px solid var(--main-darken-color-theme);
    transition: 200ms ease;
}

#messages-view .message p { 
    overflow-wrap: break-word; 
    margin: 2px 0 0 0;
}

#messages-view .message > span {
    color: rgb(90, 90, 252);
    text-decoration: underline;
}

#messages-view .message .message-time {
    text-align: end;
    float: right;
    font-size: 0.8pc;
    display: inline;
}

#messages-view .message .message-header {
    text-align: start;
    font-size: 0.8pc;
    display: inline;
}

#messages-view .message p { margin: 0; }

#messages-view .message > span:hover { cursor: pointer; }

#messages-view .user {
    font-weight: bold;
    color: black;
    align-self: flex-end;
    background-color: var(--second-color-theme);
}

#messageInput {
    top: 90vh;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: var(--third-color-theme);
}

#messageInput input {
    width: 40vw;
    height: 4vh;
}

#background {
    position: absolute;
    z-index: 2;
    background-color: rgb(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#intro-modal {
    position: absolute;
    z-index: 3;
    animation: ShowModal 900ms ease;
    margin: 30vh 35vw;
    color: white;
    text-align: center;
    width: 30vw;
    background-color: var(--main-color-theme);
    border-radius: .4rem;
}

#intro-modal h1 {
    font-size: 2.2rem;
    margin: 0;
}

#intro-modal span {
    color: var(--second-color-theme);
    transition: 400ms;
}

#intro-modal span:hover {
    color: var(--second-darken-color-theme);
    font-size: 2.25pc;
}

#intro-modal button {
    transition: 300ms ease;
    margin-top: 20px;
    background-color: var(--second-color-theme);
    border: none;
    outline: none;
    padding: 5px;
    border-radius: .4rem;
    font-weight: bolder;
}

#intro-modal button:hover {
    font-weight: lighter;
    cursor: pointer;
    background-color: var(--second-darken-color-theme);
    color: white;
}

#intro-modal button:active {
    transform: scale(0.9);
}

#messages-placeholder {
    height: 100vh;
    background-color: var(--third-color-theme);
    text-align: center;
}

#messages-placeholder h1 {
    color: var(--second-color-theme);
}

#messages-placeholder img {
    margin-top: 35vh;
    width: 10vw;
    transition: 300ms ease;
}

.modal {
    z-index: 6;
    text-align: center;
    position: absolute;
    background-color: var(--main-darken-color-theme);
}

.modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal label {
    display: block;
    text-align: start;
}

#newGroup-modal {
    padding: 8px 0;
    border-radius: .4rem;
    width: 25vw;
    top: 34vh;
    left: 37.5vw;
    color: white;
}

#newGroup-modal h1 { 
    margin: 0;
    font-size: 1.5em;
}

#newGroup-modal div { margin: 7px; }

#newGroup-modal textarea {
    resize: none;
    width: 100%;
    height: 8vh;
}

#newGroup-modal input:focus, textarea:focus {
    transform: scale(1.1);
}

#invites-modal {
    top: 34vh;
    left: 37.5vw;
    max-width: 35vw;
    height: 32vh;
    background-color: var(--main-darken-color-theme);
    border-radius: .4rem;
    color: white;
    z-index: 5;
}

#invites-modal .invite {
    padding: 9px;
    margin: 5px;
    border-radius: .4rem;
    background-color: var(--third-color-theme);
    border: 2px solid var(--main-darken-color-theme);
    transition: 200ms ease;
}

#invites-modal .invite button {
    border-radius: .4rem;
    margin: 0 5px;
    padding: 5px 10px;
    background-color: var(--second-color-theme);
    border: none;
    outline: none;
    transition: 200ms ease;
}

#invites-modal .invite button:last-of-type {
    background-color: red;
    color: white;
}

#invites-modal .invite button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#loading-intro {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--second-darken-color-theme);
    z-index: 5;
}

#loading-intro img { width: 10vw; }

#sendInvite-modal {
    top: 34vh;
    left: 37.5vw;
    width: 25vw;
    border-radius: .4rem;
    color: white;
}

#sendInvite-modal select {
    outline: none;
    border: none;
    padding: 6px;
    color: white;
    background-color: var(--third-color-theme);
}

#sendInvite-modal div { margin: 10px 0; }

#sendInvite-modal h1 { margin: 5px 0 0 0; }

#sendInvite-modal button { margin: 15px auto; }

#group-info {
    text-align: center;
    background-color: var(--third-color-theme);
    color: white;
}

#group-info h1, p { margin: 0; }
