@import url(./settings.css);

body {
    overflow: hidden;
    display: flex;
}

main {
    width: 75vw;
    height: 100vh;
    background-image: url(../assets/homeBackground.webp);
    background-size: contain;
}

aside {
    color: white;
    width: 35vw;
    height: 100vh;
    background-color: var(--main-darken-color-theme);
    box-shadow: 4px 0px 5px 2px var(--main-lighten-color-theme);
    border-right: 2px solid rgba(255, 255, 255, 0.09);
}

input, textarea {
    color: white;
    background-color: var(--third-color-theme);
    border: 2px solid var(--main-color-theme);
    padding: 5px 7px;
    border-radius: .4rem;
}

aside svg, .message div.file svg, #messageInput svg {
    border-radius: .4rem;
    transition: 400ms ease;
    width: 6%;
    color: white;
}

aside svg:hover, div.file svg:hover, #messageInput svg:hover {
    cursor: pointer;
    color: var(--second-color-theme);
}

::-webkit-scrollbar {
    width: 3px;
    background-color: var(--third-color-theme);
}

::-webkit-scrollbar-thumb { background-color: var(--main-color-theme); }

.selection {
    box-shadow: 8px 6px 20px 0px black;
    z-index: 3;
    position: absolute;
    text-align: center;
    background-color: var(--third-color-theme);
    border-radius: .2rem;
}

.selection li {
    transition: 200ms ease;
    padding: 10px;
}

.selection li:hover {
    background-color: var(--third-lighten-color-theme);
    cursor: pointer;
}

.flex-set {
    display: flex;
    align-items: center;
}

.selected { background-color: var(--main-color-theme); }

.hidden { display: none; }

.scrollable {
    overflow-y: auto;
    overflow-x: hidden;
}

.data-element {
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: medium;
    padding: 15px 8px;
    background-color: var(--third-color-theme);
    border-bottom: 1.5px solid #00000070;
    transition: 200ms ease;
}

.data-element:hover {
    cursor: pointer;
    background-color: var(--third-lighten-color-theme);
}

#info {
    position: relative;
    padding: 6px 0;
    justify-content: space-evenly;
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
}

#options-view {
    top: 35%;
    left: 64%;
}

#invites-view {
    top: 35%;
    left: 10%;
}

#search {
    background-color: var(--third-color-theme);
    position: relative;
    justify-content: space-evenly;
    padding: 10px 0;
}

#search ul {
    top: 50%;
    left: 84.6%;
}

#search input {
    background-color: var(--main-darken-color-theme);
    padding: 13px 10px;
    text-align: center;
    border: none;
    width: 22.1vw;
    height: 2.6vh;
}

#search input::placeholder { color: white; }

#search .flex-set { background-color: var(--main-darken-color-theme); }

#search div {
    width: 27vw;
    padding: 0 8px;
    border-radius: .4rem;
    background-color: var(--third-color-theme);
}

#search div svg {
    display: none;
    color: var(--second-color-theme);
    transition: 300ms ease;
}

#search div svg:hover {
    cursor: pointer;
    color: white;
}

#data-view { height: 88%; }

.group > span:nth-child(2), .group > span:nth-child(3) {
    transition: 400ms ease-in-out;
    color: white;
    font-size: smaller;
}

.group span:nth-child(2) {
    display: none;
    border-radius: 50%;
    background-color: rgb(139, 36, 36);
    padding: 1px 6px;
}

.group:hover svg { display: block; }

#messages-view {
    height: 80%;
    flex-direction: column;
}

.message {
    box-shadow: 4px 3px 6px black;
    position: relative;
    align-self: flex-start;
    color: white;
    min-width: 24vw;
    max-width: 35vw;
    border-radius: .4rem;
    margin: 9px;
    padding: 6px;
    background-color: var(--third-color-theme);
    transition: 200ms ease;
}

.message div { 
    word-break: break-all; 
    margin: 1% 0 0 0;
}

.message svg:last-child {
    width: 1vw;
}

.message > span {
    display: block;
    color: rgb(90, 90, 252);
    text-decoration: underline;
}

.message img {
    width: 100%;
    height: 70%;
}

.message .message-time {
    text-align: end;
    float: right;
    font-size: 0.8pc;
    display: inline;
}

.message .message-content .file {
    display: flex;
    align-items: center;
    background-color: var(--second-darken-color-theme);
    border-radius: .3rem;
    padding: 10px;
    min-width: 32vw;
    justify-content: space-between;
}

.message .message-header {
    text-align: start;
    font-size: 0.7pc;
    display: inline;
}

.message > span:hover { cursor: pointer; }

.message .hidden-content {
    border-radius: .2rem;
    transition: 300ms;
    background-color: black; 
    color: black;
}

.message .hidden-content:hover { 
    visibility: visible;
    background: none; 
}

.message.user {
    font-weight: bold;
    color: black;
    align-self: flex-end;
    background-color: var(--second-color-theme);
}

#messageInput {
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: var(--third-color-theme);
}

#messageInput input {
    width: 81%;
    height: 5vh;
    border-radius: 0.7rem;
}

#messageInput svg { width: 3%; }

#messageInput img { 
    width: 3.5vw; 
    border-radius: .4rem;
    padding: 5px;
}

#file-selection {
    position: absolute;
    top: 69%;
    left: 33%;
}

#file-selection > li {
    display: flex;
    align-items: center;
    margin-bottom: 3vh;
}

#file-selection > li:hover { cursor: pointer; }

#file-selection p {
    display: none;
    margin-left: 10px;
    color: white;
    padding: 5px;
    background-color: var(--third-color-theme);
    border-radius: .4rem;
}

#background {
    position: absolute;
    z-index: 2;
    background-color: rgb(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#intro-modal {
    position: absolute;
    z-index: 3;
    animation: ShowModal 900ms ease;
    margin: 30vh 35vw;
    text-align: center;
    width: 30vw;
}

#intro-modal h1 {
    font-size: 2.2rem;
    margin: 0;
}

#intro-modal span {
    color: var(--second-color-theme);
    transition: 400ms;
}

#intro-modal span:hover {
    color: var(--second-darken-color-theme);
    font-size: 2.25pc;
}

#intro-modal button {
    transition: 300ms ease;
    margin-top: 20px;
    background-color: var(--second-color-theme);
    border: none;
    outline: none;
    padding: 5px;
    font-weight: bolder;
}

#intro-modal button:hover {
    font-weight: lighter;
    cursor: pointer;
    background-color: var(--second-darken-color-theme);
    color: white;
}

#intro-modal button:active { transform: scale(0.9); }

#messages-placeholder {
    height: 100vh;
    background-color: var(--third-color-theme);
    text-align: center;
}

#messages-placeholder h1 { color: var(--second-color-theme); }

#messages-placeholder img {
    animation: PlayLogo 2s ease-in-out infinite alternate-reverse;
    margin-top: 35vh;
    width: 10vw;
    transition: 300ms ease;
}

.modal {
    border-radius: .4rem;
    color: white;
    z-index: 6;
    text-align: center;
    position: absolute;
    background-color: var(--main-darken-color-theme);
    box-shadow: 4px 4px 20px 0px black;
}

.modal form { flex-direction: column; }

.modal label {
    display: block;
    text-align: start;
}

#newGroup-modal {
    padding: 8px 0;
    width: 25%;
    top: 34%;
    left: 37.5%;
}

#newGroup-modal h1 { 
    margin: 0;
    font-size: 1.5em;
}

#newGroup-modal div { margin: 7px; }

#newGroup-modal textarea {
    resize: none;
    width: 100%;
    height: 8vh;
}

#newGroup-modal input:focus, textarea:focus { transform: scale(1.1); }

#invites-modal {
    top: 32.5%;
    left: 40%;
    max-width: 35%;
    min-width: 20%;
    height: 32%;
    z-index: 5;
}

.invite {
    padding: 9px;
    margin: 5px;
    border-radius: .4rem;
    background-color: var(--third-color-theme);
    border: 2px solid var(--main-darken-color-theme);
    transition: 200ms ease;
}

.invite button {
    border-radius: .4rem;
    margin: 0 5px;
    padding: 5px 10px;
    background-color: var(--second-color-theme);
    border: none;
    outline: none;
    transition: 200ms ease;
}

.invite button:last-of-type {
    background-color: red;
    color: white;
}

.invite button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#loading-intro {
    color: white;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--second-darken-color-theme);
    z-index: 5;
}

#loading-intro img { width: 10vw; }

#sendInvite-modal {
    top: 34vh;
    left: 37.5vw;
    width: 25vw;
}

#sendInvite-modal select {
    outline: none;
    border: none;
    padding: 6px;
    color: white;
    background-color: var(--third-color-theme);
}

#sendInvite-modal div { margin: 10px 0; }

#sendInvite-modal h1 { margin: 5px 0 0 0; }

#sendInvite-modal button { margin: 15px auto; }

#chat-info {
    height: 10%;
    text-align: center;
    background-color: var(--third-color-theme);
    color: white;
}

#chat-info > h1, p { margin: 0; }

#invites-notification {
    background-color: red;
    color: white;
    position: absolute;
    border-radius: 50%;
    padding: 0px 5.6px;
    font-size: smaller;
    top: -1%;
    left: 64.5%;
}

#queryData-view {
    z-index: 2;
    text-align: center;
    color: white;
    position: absolute;
    right: 0;
    height: 100%;
    background-color: var(--main-darken-color-theme);
}

#queryData-view button {
    transition: 400ms;
    font-weight: bolder;
    background-color: var(--second-color-theme);
    padding: 8px;
    border: none;
    border-radius: 0.2rem;
}

#queryData-view button:hover {
    color: white;
    cursor: pointer;
    background-color: var(--second-darken-color-theme);
}

#queryData-view svg {
    position: absolute;
    top: 1%;
    left: 1%;
}

#error-card {
    animation: ShowModal 650ms ease-in-out;
    border-radius: .4rem;
    position: absolute;
    top: 2%;
    left: 5%;
    z-index: 5;
    color: white;
    background-color: var(--error-card-color);
}

#error-card div {
    animation: CloseCard 3.5s forwards ease-in-out;
    width: 95%;
    background-color: white;
    height: 0.3vh;
    margin: 0 0 3.5% 2%;
}

#error-card p { margin: 16px 10px 0 10px; }

#error-card span {
    position: absolute;
    right: -1%;
    top: -4%;
    background-color: var(--error-card-color);
    border-radius: 50%;
    padding: 0 5px;
}

#error-card span:hover { cursor: pointer; }

#file-showcase {
    width: 68.2%;
    height: 90%;
    position: absolute;
    background-color: rgb(21 21 21 / 60%);
    bottom: 10%;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#file-showcase span {
    right: 3%;
    position: absolute;
    top: 3%;
    font-size: xx-large;
}

#file-showcase span:hover {
    cursor: pointer;
    transform: scale(1.1);
}