@import url(./Settings.css);

body {
    background-image: url(../assets/background.png);
    overflow-y: hidden;
}

@keyframes ShowModal {
    from { transform: translateY(-90vh); }
    to { transform: translateY(0.1vh); }
}

#modal {
    animation: ShowModal 800ms;
    background-color: var(--main-color-theme);
    width: 18vw;
    text-align: center;
    margin: 30vh auto;
    padding: 15px;
    border-radius: .4rem;
    box-shadow: 3px 5px 5px rgb(128, 128, 128, 0.3);
}

#modal img { width: 5vw; }

#modal input {
    border: 2px solid white;
    font-weight: bolder;
    border-radius: .3rem;
    outline: none;
    padding: 3px;
    width: 15vw;
    height: 2.5vh;
    margin: 10px 0;
    text-align: center;
    transition: 200ms ease-in-out;
}

#modal input:focus {
    transform: scale(1.1);
    background-color: var(--login-input-active);
    border: 2px solid var(--login-input-active);
    color: white;
}

#modal input:hover {
    border: 2px solid var(--login-input-active);
}

#modal input:focus::placeholder {
    color: white;
}

#modal button {
    font-weight: bolder;
    color: white;
    background-color: var(--second-color-theme);
    padding: 6px 10px;
    transition: 300ms;
    border: none;
    display: block;
    margin: 7px auto;
    border-radius: .4rem;
    transition: 200ms all;
    cursor: pointer;
}

#modal button:hover {
    transform: scale(1.1);
    background-color: var(--second-darken-color-theme);
}

#modal form {
    margin-bottom: 20px;
}

#modal a {
    color: white;
    transition: 300ms;
}

#modal a:hover {
    text-decoration: underline;
    color: wheat;
}

#modal #warningMessage {
    margin-top: 15px;
    margin-bottom: 0;
    border-radius: .4rem;
    padding: 10px;
    background-color: var(--second-darken-color-theme);
    color: white;
    font-weight: bolder;
    transition: 300ms;
    display: none;
}