@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

:root {
    --main-color-theme: rgb(100, 100, 100);
    --main-lighten-color-theme: rgb(128, 128, 128);
    --main-darken-color-theme: rgb(84, 84, 84);
    --third-color-theme: rgb(41, 41, 41);
    --second-color-theme: #7fb600;
    --second-darken-color-theme: #5c8300;
    --login-input-active: rgb(124, 124, 124);
}

* { font-family: 'Nunito', sans-serif; }

body { 
    margin: 0;
    width: 100vw;
    height: 100vh;
}

a { text-decoration: none; }