@import url(./settings.css);

body {
    overflow: hidden;
    display: flex;
}

main {
    width: 75vw;
    height: 100vh;
    background-image: url(../assets/homeBackground.webp);
    background-size: contain;
}

aside {
    color: white;
    width: 35vw;
    height: 100vh;
    background-color: var(--main-darken-color-theme);
    box-shadow: 4px 0px 5px 2px var(--main-lighten-color-theme);
    border-right: 2px solid rgba(255, 255, 255, 0.09);
}

aside input, main input {
    color: white;
    background-color: var(--third-color-theme);
    border: 2px solid var(--main-color-theme);
    padding: 5px 7px;
    border-radius: .4rem;
}

aside svg, .message div.file svg, #messageInput svg {
    border-radius: .4rem;
    transition: 400ms ease;
    width: 6%;
    color: white;
}

aside svg:hover, div.file svg:hover, #messageInput svg:hover {
    cursor: pointer;
    color: var(--second-color-theme);
}

h1, p { margin: 0; }

::-webkit-scrollbar {
    width: 3px;
    background-color: var(--third-color-theme);
}

::-webkit-scrollbar-thumb { background-color: var(--main-color-theme); }

.selection {
    box-shadow: 8px 6px 20px 0px black;
    z-index: 3;
    position: absolute;
    text-align: center;
    background-color: var(--third-color-theme);
    border-radius: .2rem;
    & li {
        transition: 200ms ease;
        padding: 10px;
        &:hover {
            background-color: var(--third-lighten-color-theme);
            cursor: pointer;
        }
    }
}

.flex-set {
    display: flex;
    align-items: center;
}

.selected { background-color: var(--main-color-theme); }

.hidden, .hidden img { display: none; }

.scrollable {
    overflow-y: auto;
    overflow-x: hidden;
}

.data-element {
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: medium;
    padding: 15px 8px;
    background-color: var(--third-color-theme);
    border-bottom: 1.5px solid #00000070;
    transition: 200ms ease;
    &:hover {
        cursor: pointer;
        background-color: var(--third-lighten-color-theme);
    }
}

.chat { 
    & span:nth-child(3), span:nth-child(4) {
        transition: 400ms ease-in-out;
        color: white;
        font-size: smaller;
    };
    & span:nth-child(3) {
        display: none;
        border-radius: 50%;
        background-color: rgb(139, 36, 36);
        padding: 1px 6px;
    };
    &:hover svg { display: block; }
}

.chat img, #chat-info img, #newGroup-modal img {
    width: 3.5vw;
    height: 7vh;
    border-radius: 50%;
}

.message {
    box-shadow: 4px 3px 6px black;
    position: relative;
    align-self: flex-start;
    color: white;
    min-width: 24vw;
    max-width: 35vw;
    border-radius: .4rem;
    margin: 9px;
    padding: 6px;
    background-color: var(--third-color-theme);
    transition: 200ms ease;
    & div { 
        word-break: break-all; 
        margin: 1% 0 0 0;
    };
    & svg:last-child { width: 1vw; };
    & span {
        display: block;
        color: rgb(90, 90, 252);
        text-decoration: underline;
        &:hover { cursor: pointer; }
    };
    & img {
        width: 100%;
        height: 70%;
    };
    & .message-time {
        text-align: end;
        float: right;
        font-size: 0.8pc;
        display: inline;
    };
    & .message-header {
        text-align: start;
        font-size: 0.7pc;
        display: inline;
    }
}

.message .message-content .file {
    display: flex;
    align-items: center;
    background-color: var(--second-darken-color-theme);
    border-radius: .3rem;
    padding: 10px;
    min-width: 32vw;
    justify-content: space-between;
}

.message .hidden-content {
    border-radius: .2rem;
    transition: 300ms;
    background-color: black; 
    color: black;
}

.message .hidden-content:hover { 
    visibility: visible;
    background: none; 
}

.message.user {
    font-weight: bold;
    color: black;
    align-self: flex-end;
    background-color: var(--second-color-theme);
}

.modal {
    border-radius: .4rem;
    color: white;
    text-align: center;
    background-color: var(--main-darken-color-theme);
    box-shadow: 4px 4px 20px 0px black;
    & label {
        display: block;
        text-align: start;
    };
    & form { flex-direction: column; }
}

.invite {
    padding: 9px;
    margin: 5px;
    border-radius: .4rem;
    background-color: var(--third-color-theme);
    border: 2px solid var(--main-darken-color-theme);
    transition: 200ms ease;
    & button {
        border-radius: .4rem;
        margin: 0 5px;
        padding: 5px 10px;
        background-color: var(--second-color-theme);
        border: none;
        outline: none;
        transition: 200ms ease;
        & :last-of-type {
            background-color: red;
            color: white;
        };
        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        };
    };
}

#info {
    position: relative;
    padding: 6px 0;
    justify-content: space-evenly;
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
    & img { width: 3vw; }
}

#options-view {
    top: 35%;
    left: 64%;
}

#invites-view {
    top: 35%;
    left: 10%;
}

#search {
    background-color: var(--third-color-theme);
    position: relative;
    justify-content: space-evenly;
    padding: 10px 0;
    & .flex-set { background-color: var(--main-darken-color-theme); };
    & ul {
        top: 50%;
        left: 84.6%;
    };
    & div {
        width: 27vw;
        padding: 0 8px;
        border-radius: .4rem;
        background-color: var(--third-color-theme);
        & svg {
            display: none;
            color: var(--second-color-theme);
            transition: 300ms ease;
            &:hover {
                cursor: pointer;
                color: white;
            };
        };
    };
}

#search input {
    background-color: var(--main-darken-color-theme);
    padding: 13px 10px;
    text-align: center;
    border: none;
    width: 26.5vw;
    height: 2.6vh;
    &::placeholder { color: white; }
}

#data-view { height: 88%; }

#messages-view {
    height: 80%;
    flex-direction: column;
}

#messageInput {
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: var(--third-color-theme);
    & svg { width: 3%; };
    & input {
        width: 81%;
        height: 5vh;
        border-radius: 0.7rem;
    };
    & img { 
        width: 3.5vw; 
        border-radius: .4rem;
        padding: 5px;
    };
}

#file-selection {
    position: absolute;
    top: 69%;
    left: 33%;
    & > li {
        display: flex;
        align-items: center;
        margin-bottom: 3vh;
        &:hover { cursor: pointer; };
    };
    & p {
        display: none;
        margin-left: 10px;
        color: white;
        padding: 5px;
        background-color: var(--third-color-theme);
        border-radius: .4rem;
    };
}

#intro-modal {
    animation: ShowModal 900ms ease;
    margin: 30vh 35vw;
    text-align: center;
    width: 30vw;
    & h1 { font-size: 2.2rem; };
    & span {
        color: var(--second-color-theme);
        transition: 400ms;
        &:hover {
            color: var(--second-darken-color-theme);
            font-size: 2.25pc;
        }
    };
    & button {
        transition: 300ms ease;
        margin-top: 20px;
        background-color: var(--second-color-theme);
        border: none;
        outline: none;
        padding: 5px;
        font-weight: bolder;
        &:hover {
            font-weight: lighter;
            cursor: pointer;
            background-color: var(--second-darken-color-theme);
            color: white;
        }
        & :active { transform: scale(0.9); }
    }
}

#messages-placeholder {
    height: 100vh;
    background-color: var(--third-color-theme);
    text-align: center;
    & img {
        animation: PlayLogo 2s ease-in-out infinite alternate-reverse;
        margin-top: 35vh;
        width: 10vw;
        transition: 300ms ease;
    };
    & h1 { color: var(--second-color-theme); };
}

#newGroup-modal {
    padding: 8px 0;
    width: 25%;
    & h1 { font-size: 1.5em; }; 
    & div { margin: 7px; };
    & textarea:focus { height: 9vh; };
    & img {
        cursor: pointer;
        margin-top: 5px;
        width: 8vw;
        height: 15vh;
    };
    & textarea, & input {
        resize: none;
        width: 100%;
        height: 3.6vh;
    };
} 

#invites-modal {
    max-width: 35%;
    min-width: 20%;
    height: 32%;
}

#loading-intro {
    color: white;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--second-darken-color-theme);
    z-index: 5;
    & img { width: 10vw; }
}

#sendInvite-modal {
    width: 25vw; 
    & button { margin: 15px auto; };
    & div { margin: 10px 0; };
    & h1 { margin: 5px 0 0 0; };
    & select {
        outline: none;
        border: none;
        padding: 6px;
        color: white;
        background-color: var(--third-color-theme);
    }
}

#chat-info {
    padding: 1%;
    background-color: var(--third-color-theme);
    color: white;
    & p {
        min-width: 15vw;
        cursor: pointer;
        color: #ffffff7e;
    }
}

#invites-notification {
    background-color: red;
    color: white;
    position: absolute;
    border-radius: 50%;
    padding: 0px 5.6px;
    font-size: smaller;
    top: -1%;
    left: 64.5%;
}

#queryData-view {
    z-index: 2;
    text-align: center;
    color: white;
    position: absolute;
    right: 0;
    height: 100%;
    background-color: var(--main-darken-color-theme);
    & svg {
        position: absolute;
        top: 1%;
        left: 1%;
    };
    & button {
        transition: 400ms;
        font-weight: bolder;
        background-color: var(--second-color-theme);
        padding: 8px;
        border: none;
        border-radius: 0.2rem;
        &:hover {
            color: white;
            cursor: pointer;
            background-color: var(--second-darken-color-theme);
        }
    }
}

#error-card {
    width: 10vw;
    padding: 0 10px 0 0;
    animation: ShowModal 650ms ease-in-out;
    border-radius: .34rem;
    position: absolute;
    top: 3px;
    left: 47%;
    z-index: 5;
    color: white;
    background-color: var(--error-card-color);
    & div:first-of-type { 
        justify-content: space-evenly; 
        width: 8vw;
    }
    & img { width: 1.2vw; }
    & div:last-of-type {
        animation: CloseCard 3.5s forwards ease-in-out;
        width: 95%;
        background-color: white;
        height: 0.19vh;
        margin: 0 2% 0 2%;
    };
    & p { margin: 16px 10px 0 10px; };
    & #close { 
        position: absolute;
        top: 15%;
        right: 10%;
        font-size: 0.75pc;
        &:hover { cursor: pointer; }
    }
}

#file-showcase {
    width: 68.2%;
    height: 90%;
    position: absolute;
    background-color: rgb(21 21 21 / 60%);
    bottom: 10%;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    & span {
        right: 3%;
        position: absolute;
        top: 3%;
        font-size: xx-large;
        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    }
}