@import url(setup.css);

@keyframes Float {
    to {
        transform: translateY(-3%);
    
    }
}

main div:not(:first-child){
        backdrop-filter: blur(10px);
}

@keyframes Show {
    from { transform: scale(0); }
    to { transform: scale(1); }
}

@keyframes ShowModal {
	from { transform: scale(0.5); }
}

@keyframes Slider {
    from { transform: translateX(0); }
    to { transform: translateX(-290vw); }
}

#titleMuseu {
    color: var(--nav-color-darker);
    font-weight: bold;
    -webkit-text-stroke-width: -1px;
    -webkit-text-stroke-color: #FFFFF9;
}

dialog { 
    border-radius: .4rem;
    width: 60vw;
    min-height: 40vh;
	animation: ShowModal 450ms forwards ease-in-out;
    font-family: 'Lexend Peta', sans-serif;
    box-shadow: 10px 10px var(--nav-color);
}

dialog form {
    border-radius: .4rem;
}
label {
	display: block;
    font-size: 1.2em;
	margin-bottom: 10px;
	font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"] {
	padding: 5px;
	margin-bottom: 10px;
	width: 100%;
	border: 2px solid #C7B299;
	border-radius: 3px;
}

input[type="text"]:not(:placeholder-shown),
input[type="email"]:not(:placeholder-shown),
input[type="tel"]:not(:placeholder-shown),
input[type="password"]:not(:placeholder-shown) {
	border: 2px solid #59c726;
}

input[type="submit"] {
    color: white;
    width: 35%;
    display: block;
    margin: 10px auto;
    text-align: center;
	background-color: #6B4E37;
	border: none;
	border-radius: 3px;
	cursor: pointer;
    transition: 400ms;
}

input[type="submit"]:hover {
    background-color: var(--form-element-color-darken);
}

#linkCrtAcc {
    color: var(--nav-color);
    font-weight: bold;
    border: 1px solid;
    padding: 1%;
    border-radius: 10px;
}

nav .link { margin: 0 3%; }

nav .link div {
    transition: 200ms;
    padding: 1.5px;
    width: 0;
    border-radius: 0.7rem;
}

nav .link:hover div {
    width: 100%;
    background-color: black;
}

nav img:last-child {
    width: 36px;
}

main section {
    width: 100%;
    margin-bottom: 3%;
}

#saibaMais section:first-of-type, #saibaMais section:last-of-type {
	box-shadow: 0px 0px 5px 3px gray;
}

main > section:first-child {
    margin-top: 4%;
    margin-bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main > section:first-child img {
    animation: Float 2s alternate-reverse infinite ease-in-out;
}

main > section:first-child button {
    text-align: center;
    display: block;
    color: white;
    width: 50%;
    font-size: 1.09pc;
    padding: 7px;
    background-color: rgb(59, 140, 56);
    border-radius: 3rem;
    transition: 250ms;
    position: relative;
    border: none;
    cursor: pointer;
}


main > section:first-child button:hover {
    background-color: rgb(46, 109, 44);
    padding-right: 10%;
}

main > section:first-child button:hover span { 
    position: absolute;
    top: -2%;
    right: 17%;
    font-size: 1.6pc;
    display: inline-block !important;
    animation: Show 300ms forwards;
}

.info {
    font-size: 1.7pc;
    background-color: var(--nav-color);
    color: wheat;
    padding: 100px;
    margin: 10% 0;
  
}

.info:not(:first-of-type) {
    flex-direction: row; 
    display: flex; 
    align-content: space-between;
    align-items: baseline;
}
.info:nth-child(3) {
    align-items:center;
}
.info:nth-child(3) h2{
    
    margin-right: 30px;
}
.info div {
    width: 50%;
    padding: 20px;
}
.info p {
    font-size: 1.2em;    
    margin: 20px auto;
    text-align: justify;
    padding: 5px;
}


h1, h2 {
    font-family: 'Lexend Peta', sans-serif;
}

h1 {
    font-size: 2.5pc;
    color: rgb(63, 27, 13);
}

h2 {
    color: rgb(255, 233, 223);
}

#titleSlider {
    color: #FFFFF9;
    margin-bottom: 2%;
    padding: 20px;
}

#saibaMais section:nth-child(2) { 
    text-align: center; 
    background-color: rgba(30, 26, 20, 0.709);
    padding: 0 0 20px;
}


#saibaMais section:nth-child(2) > div {
    width: 70vw;
    height: 70vh;
    overflow: hidden;
    margin: 0 auto;
    border-radius: .4rem;
    border: 1px solid black;
}

#saibaMais section:nth-child(2) > div > div {
    display: flex;
    animation: Slider 40s alternate infinite ease-in-out;
}

#saibaMais section:nth-child(2) img {
    margin: 0 auto;
    height: 70vh;
}

#imgMuseu {
    border: 1px solid var(--nav-color);
    margin: 0 auto;
    display: block;
    border-radius: 2%;
    width: 75%;
    height: 75%;
}

.comentarios {
    border-top: 2px solid var(--nav-color);
    height: max-content;
    align-items: center;
    border-bottom: 2px solid var(--nav-color);
    background-color: #c7c0b396;
}

.comentarios h2 {
    color: var(--nav-color);
    border-bottom: 2px solid var(--nav-color);
    padding: 0px 0px 10px 45px;
}

.coment{
    background-color: var(--form-background-color);
    margin: 50px 25px;
    padding:  2vh;
    display: flex;
    justify-content: left;
    vertical-align: middle;
    border: solid 1px var(--nav-color);
    border-radius:  10px;
    box-shadow:15px 15px var(--nav-color);
    
}
.coment > div{
    margin: 0px 2vw;
}
.imgComent {
    width: 10vw;
    height: 20vh;
	padding: 5px;
	border: 1px solid var(--nav-color);
	border-radius: 50%;
    margin: 0px;
}


.coment:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 25px solid var(--nav-color);
    bottom:  -113%;
    left: 65%;
} 
footer p {
    line-height: 1.5;
    margin-bottom: 5px;
}