@import url(setup.css);


nav h4{
	padding: 10px;
	position: relative;
}

nav a{
	position: absolute;
	left: 2.5%;
	width: fit-content;
	height: fit-content;
	padding: 5px;
	margin: 0%;
}

nav a:hover {
	background-color: var(--nav-color-darken);
	transition: 0.5s;
}

.imgIntegrantes {
	width: 10vw;
	height: 19vh;
	border-radius: 50%;
}

table {
	background-color: #FFFFFF;
	width: 80%;
	margin: 50px auto;
	border-collapse: collapse;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

th, td {
	padding: 10px;
	border: 1px solid #968a7c7a;
	text-align: center;
}

th {
	background-color:#22170e;
	color: #FFFFFF;
}

tr:nth-child(even) {
	background-color: #F2F2F2;
}